.current-img-con {
  margin-top: 60px;
  text-align: center;
}
.current-img {
  max-width: 600px;
  min-width: 600px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .current-img {
    max-width: 350px;
    min-width: 200px;
    border-radius: 5px;
  }
}
